:root {
  --text: #ffffff;
  --background: #10100f;
  --primary: #847f3d;
  --accent: #d6ce66;
  --brown: #34280D;
  --yellow: #DBAD43;
  --yellow05: #DBAD4380;
  --a: #CDEFEB;
  --b: #060914;
  --c: #0B1126;
  --a5: #CDEFEB80;
  --b5: #06091480;
  --c5: #0B112680;
  --gradient: linear-gradient(145deg,
      hsl(227deg 55% 10%) 0%,
      hsl(252deg 47% 7%) 30%,
      hsl(245deg 42% 8%) 60%,
      hsl(229deg 24% 16%) 84%,
      hsl(0deg 0% 36%) 100%);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  /* color-scheme: dark light; */
}

body {
  background: var(--gradient);
  padding: 8px;
  height: 100vh;
}

.pageContainer {
  width: 100%;
  height: 100%;
  border: solid var(--a) 2px;
  border-radius: 20px;
  padding: 8px;
  position: relative;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  color: var(--a);
  /* Met les élément flex a la ligne quand ils n'ont plus de place */
  flex-wrap: wrap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}


p {
  text-wrap: pretty;
  max-width: 75ch;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}